* {
    margin: 0px;
    padding: 0px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

/* Menu */
.menu{
    width: 100%;
    background-color:#b83345;

    position: fixed;
    top: 0px;
}

.menu nav{ 
    text-align: center;
    width: 90%;
    margin: 0% auto;
}
.menu a{
    vertical-align: middle;
    text-decoration: none;
    color: #ffffff;
    padding: 26px 5px;
    font-size: 22px;
}

.menu_btn:hover{
    background-color: #e67278;
}
.menu img{
    vertical-align: middle;
    margin-right: 15%;
}

.menu_fazerquiz{
    background-color: #7b98db;
}
.menu_fazerquiz:hover{
    background-color: #c5eff2;
 
}
/* Fim Menu */

main{
    margin-top: 50px;
    width: 100%;
}

/* Seção do Banner Principal */
.banner{
    background-image: url('../img/banner.png');
    background-repeat: no-repeat;
    background-size: 100%;
    /* text-align: center; */
    height: 100vh;
}
/* .banner h1{
    margin-bottom: 30px;
    font-size: 40px;
}
.banner p{
    margin: 30px;
    font-size: 20px;
} */
.banner button{
    margin-top: 38%;
    margin-left: 24%;
    padding:5px 50px;
    font-size: 30px;
    border-radius: 10px;
    border-style: none;
    background-color: #7b98db;
    color: #ffffff;
}
.banner button:hover{
    color: #7b98db;
    background-color: #c5eff2;
}
/* Fim da seção do Banner Principal */

/* Seção do Porque fazer o quiz? */
.pq_fazer_o_quiz{
    padding: 40px 100px;
    text-align: center;
    color: #b83345;
}
.pq_fazer_o_quiz h2{
    margin-bottom: 40px;
    font-size: 40px;
    text-align: center;
}
.pq_fazer_o_quiz h3{
    margin-bottom: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}
.pq_fazer_o_quiz p{
    color: #e67278;
    font-size: 16px;
}
.pq_fazer_o_quiz div{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin: 0px 45px;
}
.pq_fazer_o_quiz img{
    width: 250px;
}
/* Fim da seção do Porque fazer o quiz? */

/* Seção do Por que confiar em nos? */
.confiar_em_nos{
    margin-top: 40px;
    padding: 40px 100px;
    text-align: center;
    color: #e67278;
}
.confiar_em_nos h2{
    font-size: 34px;
    color: #b83345;
}
.confiar_em_nos div{
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    height: 440px;
    padding: 30px 30px;
    margin: 40px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #c5effe;
    background-color: #ffffff;
}
.confiar_em_nos h3{
    margin: 20px;
    color: #b83345;
}

/* Fim da seção do Por que confiar em nos? */

/* Seção do Footer */
footer{
    margin-top: 20px;
    padding: 40px;
    text-align: center;
    color: #7b98db;   
}
footer a{
    text-decoration: none;
    margin: auto 10px;
    padding: 5px;
    border-radius: 10px;
    color: #7b98db;
}
footer a:hover{
    color: #ffffff;
    background-color: #7b98db;
}
footer p{
    margin: 30px 460px 0px;
    display: inline-block;
    font-weight: lighter;
}
/* Fim do Footer */

/* Login */
.login_cadastramento{
    display: inline-block;
    text-align: center;
}

.login_cadastramento div{
    margin: auto;
    margin-top: 80px;
    padding: 20px;
    width: 400px;
    border-style: solid;
    border-color: #c5effe;
    border-radius: 10px;
}
.form_login{
    text-align: left;
    padding: 5px;
    width: 300px;
    border-radius: 5px;
    margin: 5px;
}
.login_entrar{
    margin: 10px;
    width: 150px;
    padding: 7px;
    color: #ffffff;
    background-color: #7b98db;
    border-style: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}
.login_cadastramento hr, p{
    margin: 10px;
}
.login_cadastramento a{
    text-decoration: none;
    font-weight: bold;
    color: #7b98db;
    
}
/* Fim do Login */

/* Perfil */
.perfil{
    text-align: center;
}
.perfil div{
    margin: auto;   
    text-align: left;
    margin-top: 160px;
    padding: 20px;
    width: 400px;
    border-style: solid;
    border-color: #c5effe;
    border-radius: 10px;
}
.perfil h1{
    text-align: center;
}
.perfil h2, p{
    margin: 5px 0px;
}
.perfil hr{
    margin: 15px 0px;
}
.perfil button{
    margin: 10px 30px;
    width: 120px;
    padding: 7px;
    background-color: #7b98db;
    border-style: none;
    border-radius: 5px;
}
.perfil a{
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}
/* Fim do Perfil */